.page{
width: 780px;
margin: auto;
font-family:'source sans pro',calibri,tahoma,sans-ser ;
font-size: 16px;
}
.infophoto{
    height:250px;
}
.info{
     float:left;
}
.photo{
      float:right;
      border-style: inset;
      border-right: inset;
      width: none;
      height: 6rem;
      margin-top: 6rem;
      
}
section{
    margin-bottom:70px;
    text-align:justify;
}
h1{
    border-style: inset;
}
.sec-gauche{
    float:left;
    font-weight:bold  
    font-size-20px;   
}
.sec-droite{
    margin-left:150px ;
}
h2{
       font-size: 28px;
       color:#3388BB;
       border-bottom:3px solid#3388DD;
       border-style: double;
}
    h3{
        font-size: 17px;
        color:#3388BB;
        border-style: outset;
     }
 body{
    width: 800px;
    margin: auto;
    font-size: 16px;
    border-top-width: 2rem;
    border-color: #083058;
    border-style: solid;
 }